<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start" [defaultHref]="'/post/room/' + room + '/charge'" text=""></ion-back-button>
      <ion-button (click)="undo()" fill="clear" [disabled]="!id">
        <ion-icon name="refresh-circle" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>課金設定</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="erase()" color="danger" slot="end" fill="clear" [disabled]="!id">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="new()" color="secondary" slot="end" fill="clear" [disabled]="!id">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button [disabled]="chargeForm.pristine||saving||chargeForm.invalid||!id" (click)="save()" fill="clear">
        <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
      <ion-menu-button menu="end">
        <ion-icon name="contacts"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #content [scrollEvents]="true" (ionScrollEnd)="onScrollEnd()">
  <ion-segment scrollable (ionChange)="switch($event)" [(ngModel)]="method">
    <ion-segment-button value="-1">
      <ion-label>共有</ion-label>
    </ion-segment-button>
    <ion-segment-button value="0">
      <ion-label>標準</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="room">
      <ion-label>個別</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item *ngIf="!charge.typ.value else main;">
    設定されていません
    <ion-buttons slot="end" *ngIf="charges.length">
    <ion-button slot="icon-only" fill="clear" (click)="copy()">
      <ion-icon name="copy"></ion-icon>コピー
    </ion-button>
    <ion-button (click)="add()" color="secondary" slot="icon-only" fill="clear">
      <ion-icon name="create"></ion-icon>新規
    </ion-button>
  </ion-buttons>
  </ion-item>
  <ng-template #main>
    <ion-grid>
      <form [formGroup]="chargeForm">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <ion-title #basic class="Text">Basic</ion-title>
            <ion-item>
              <ion-label position="floating">
                タイトル<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required [formControl]="charge.na" minlength="1" maxlength="30" placeholder="大人"></ion-input>
            </ion-item>
            <span *ngIf="charge.na.errors?.minlength||charge.na.errors?.maxlength"
              class="errmsg">１文字以上３０文字以下で入力してください。</span>
            <ion-item>
              <ion-segment scrollable [formControl]="charge.typ">
                <ion-segment-button *ngFor="let typ of unitTyps" [value]="typ.key">
                  <!--<img [src]="typ.icon" />-->
                  <ion-label>{{typ.na}}</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                説明文
              </ion-label>
              <ion-textarea [formControl]="charge.txt" autoGrow="true" maxlength="300"></ion-textarea>
            </ion-item>
            <span *ngIf="charge.txt.errors?.minlength||charge.txt.errors?.maxlength"
              class="errmsg">２文字以上３００文字以下で入力してください。</span>
            <ion-item>
              <img *ngIf="imgBlob;else orgimg" class="img" [src]="imgBlob|safe:'url'" />
              <ng-template #orgimg>
                <img *ngIf="charge.img.value;else noimg" class="img" [src]="charge.img.value" />
                <ng-template #noimg>
                  <img class="img" [src]="noimgUrl" />
                </ng-template>
              </ng-template>
              <ion-buttons class="imgButtons">
                <ion-button fill="clear" (click)="upImg.click()">
                  <ion-icon name="image" color="success" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="imgBlob" slot="end" (click)="imgBlob=''" fill="clear">
                  <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
            <input #upImg style="display: none;" type="file" (change)="imgChange($event)">
            <canvas #canvas style="display: none;"></canvas>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <ion-title #plan class="Text">Plan</ion-title>
            <ion-item>
              <ion-icon name="bed" color="success"></ion-icon>
              <ion-label>在庫<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input slot="end" typ="number" [formControl]="charge.qty" min="0" max="9999" placeholder="5">
              </ion-input>
              <ion-button (click)="modalPlan('qty')" slot="end" fill="clear">
                <ion-icon name="calendar" slot="icon-only" color="primary"></ion-icon>
              </ion-button>
            </ion-item>
            <span *ngIf="charge.qty.errors?.min||charge.qty.errors?.max" class="errmsg">0～9999の整数を入力してください。</span>
            <ion-item>
              <ion-icon name="people-circle" color="success"></ion-icon>
              <ion-label>１組あたり　</ion-label>
              <ion-input typ="number" [formControl]="charge.min" min="0" max="99" placeholder="1">
              </ion-input>から　
              <ion-input typ="number" [formControl]="charge.max" min="0" max="100" placeholder="5">
              </ion-input>
              <ion-input [formControl]="charge.ext" minlength="1" maxlength="5" placeholder="人"></ion-input>まで
              <ion-button (click)="modalPlan('minmax')" slot="end" fill="clear">
                <ion-icon name="calendar" slot="icon-only" color="primary"></ion-icon>
              </ion-button>
            </ion-item>
            <span *ngIf="charge.min.errors?.min||charge.min.errors?.max||charge.max.errors?.min||charge.max.errors?.max"
              class="errmsg">0～1000の整数を入力してください。</span>
            <span *ngIf="charge.ext.errors?.minlength||charge.ext.errors?.maxlength"
              class="errmsg">１文字以上５文字以下で単位を入力してください。</span>
            <ion-item>
              <ion-icon name="card" color="tertiary"></ion-icon>
              <ion-label>料金</ion-label>
              <ion-input slot="end" typ="number" [formControl]="charge.price" min="0" max="100000" placeholder="1000">
              </ion-input>
              <ion-buttons slot="end">
                <ion-button (click)="modalPlan('price')" slot="icon-only" fill="clear">
                  <ion-icon name="calendar" slot="icon-only" color="primary"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
            <span *ngIf="charge.price.errors?.min||charge.price.errors?.max" class="errmsg">0～100000の整数を入力してください。</span>
            <ion-item>
              <ion-icon name="prism" color="success"></ion-icon>
              <ion-label>面積</ion-label>
              <ion-input slot="end" typ="number" [formControl]="charge.size" min="0" max="100000" placeholder="1000">
              </ion-input>
              <ion-button (click)="modalPlan('size')" slot="end" fill="clear">
                <ion-icon name="calendar" slot="icon-only" color="primary"></ion-icon>
              </ion-button>
            </ion-item>
            <span *ngIf="charge.size.errors?.min||charge.size.errors?.max" class="errmsg">0～100000の整数を入力してください。</span>
            <ion-item>
              <ion-icon name="chatbubbles" color="primary"></ion-icon>
              <ion-label>コメント欄</ion-label>
              <ion-toggle [formControl]="charge.chat"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-icon name="pause" color="warning"></ion-icon>
              <ion-label>休止</ion-label>
              <ion-toggle [formControl]="charge.close"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ng-template>
  <ion-title #essay class="Text">Essay</ion-title>
  <app-story typ="charge" [document]="{id:id,user:user.id}" [user]="user"></app-story>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="currentY>basicY+50" (click)="scroll(basicY)" color="light" size="small">
      Basic
    </ion-fab-button>
    <ion-fab-button *ngIf="currentY>planY+50" (click)="scroll(planY)" color="light" size="small">
      Plan
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="currentY+contentH<planY" (click)="scroll(planY)" color="light" size="small">
      Plan
    </ion-fab-button>
    <ion-fab-button *ngIf="currentY+contentH<essayY" (click)="scroll(essayY)" color="light" size="small">
      Essay
    </ion-fab-button>
  </ion-fab>
</ion-content>
<!--
<ion-label position="floating">または</ion-label>
[disabled]="!calendar.price.dirty&&!calendar.rate.dirty"
<ion-button (click)="rangeSave()" [disabled]="!getPrice.dirty"fill="clear" slot="end">
              　 <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
            </ion-button>
            [formControl]="calendar.weeks"
-->