<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-button slot="start" (click)="modal.dismiss()" fill="clear">
        　 <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
      beds24設定
      <ion-button slot="end" [disabled]="form.invalid||form.pristine" (click)="save()" fill="clear">
        　 <ion-icon name="checkmark-circle" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form">
    <div formArrayName="rows">
      <ion-list *ngFor="let row of rows.controls;let i=index" [formGroupName]="i">
        <ion-item>
          <ion-label>OTA-{{i+1}}</ion-label>
          <ion-select formControlName="na" slot="end">
            <ion-select-option value='airbnb'>airBnb</ion-select-option>
            <ion-select-option value='bookingcom'>booking.com</ion-select-option>
            <ion-select-option value='vacationstay'>VacationStay</ion-select-option>
            <ion-select-option value='google'>GoogleHotelAds</ion-select-option>
          </ion-select>
          <ion-button (click)="delOta(i)" slot="end" fill="clear" [disabled]="">
            <ion-icon name="close-circle" slot="icon-only" color="danger"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="card" color="tertiary"></ion-icon>
          <ion-label>料金</ion-label>
          <ion-input typ="number" slot="end" formControlName="price" min="0" max="100000" placeholder="1000">
          </ion-input>
          <ion-button (click)="inc(row,'price',100)" slot="end" fill="clear"
            [disabled]="row.get('price').errors?.max">
            <ion-icon name="caret-up-circle" slot="icon-only" color="medium"></ion-icon>
          </ion-button>
          <ion-button (click)="inc(row,'price',-100)" slot="end" fill="clear"
            [disabled]="row.get('price').errors?.min">
            <ion-icon name="caret-down-circle" slot="icon-only" color="medium"></ion-icon>
          </ion-button>
        </ion-item>
        <span *ngIf="row.get('price').errors?.min||row.get('price').errors?.max"
          class="errmsg">-99999～99999の整数を入力してください。</span>
        <ion-item>
          <ion-icon name="calculator" color="tertiary"></ion-icon>
          <ion-label>料率</ion-label>
          <ion-input slot="end" typ="number" formControlName="rate" min="0" max="10" placeholder="1.2" step="0.1">
          </ion-input>
          <ion-button (click)="inc(row,'rate',0.1)" slot="end" fill="clear"
            [disabled]="row.get('rate').errors?.max">
            <ion-icon name="caret-up-circle" slot="icon-only" color="medium"></ion-icon>
          </ion-button>
          <ion-button (click)="inc(row,'rate',-0.1)" slot="end" fill="clear" [disabled]="row.get('rate').errors?.min">
            <ion-icon name="caret-down-circle" slot="icon-only" color="medium"></ion-icon>
          </ion-button>
        </ion-item>
        <span *ngIf="row.get('rate').errors?.min||row.get('rate').errors?.max" class="errmsg">0～10の整数を入力してください。</span>
        <ion-item>
          <ion-icon name="bed" color="success"></ion-icon>
          <ion-label>在庫</ion-label>
          <ion-input slot="end" typ="number" formControlName="qty" min="0" max="100" placeholder="1">
          </ion-input>
          <ion-button (click)="inc(row,'qty',1)" slot="end" fill="clear" [disabled]="row.get('qty').errors?.max">
            <ion-icon name="caret-up-circle" slot="icon-only" color="medium"></ion-icon>
          </ion-button>
          <ion-button (click)="inc(row,'qty',-1)" slot="end" fill="clear"
            [disabled]="row.get('qty').errors?.min">
            <ion-icon name="caret-down-circle" slot="icon-only" color="medium"></ion-icon>
          </ion-button>
        </ion-item>
        <span *ngIf="row.get('qty').errors?.min||row.get('qty').errors?.max" class="errmsg">-99～99の整数を入力してください。</span>
        <ion-item>
          <ion-icon name="pause" color="warning"></ion-icon>
          <ion-label>休止</ion-label>
          <ion-toggle formControlName="close"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </form>
  <div style="text-align: center;">
    <ion-button (click)="addOta()" slot="end" fill="clear" [disabled]="">
      <ion-icon name="add-circle" slot="icon-only" color="secondary"></ion-icon>
    </ion-button>
  </div>
</ion-content>